* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(2, 15, 15);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

h1 {
    font-size: 4vw;
    background: linear-gradient(to right, white, rgb(38, 193, 193), rgb(249, 63, 94));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.upload-image {
    max-width: 600px;
    width: 90%;
    height: 300px;
    background-color: snow;
    align-items: center;
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    border-radius: 50px;
    box-shadow: 2px 2px 10px black;

}

.inner-upload-image {
    width: 100%;
    height: 80%;
    background-color: black;
    border-radius: 50px;
    box-shadow: 2px 2px 10px black;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s;
}
span {
    padding: 10px 20px;
    justify-content: center;
    color: white;
    display: flex;
    text-align: center;

}
button {
    background-color: black;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;


}

.inner-upload-image:hover {
    box-shadow: inset 2px 2px 10px black;
    background-color: rgb(42, 51, 62);

}
#image{
    width: 100%;
    height: 100%;
    display: none;
}

/* .output{
    width:90%;
    max-width: 700px;
    background-color: black;
    color: white;
    box-shadow:2px 2px 10px black ;
    border-radius: 20px;
    display: none;
} */

.output {
    display: none;
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    color: #333;
    word-wrap: break-word;
}



#loading{
   margin-top: 30px;
   filter: drop-shadow(2px 2px 10px black);
   display: none; 
   height:100px;
   width: 100px;
}